# Base de données PostgreSQL + pgvector
POSTGRES_USER=postgres
POSTGRES_PASSWORD=cezat_secure_pass_2026
POSTGRES_DB=cezat_db

# Backend NestJS
PORT=3000
DATABASE_URL="postgresql://postgres:cezat_secure_pass_2026@localhost:5432/cezat_db?schema=public"
JWT_SECRET=cezat_super_secret_jwt_key_2026
JWT_EXPIRES_IN=30d

# Passerelle PayDunya (Mode Test / Sandbox)
PAYDUNYA_MASTER_KEY=test_master_key
PAYDUNYA_PRIVATE_KEY=test_private_key
PAYDUNYA_PUBLIC_KEY=test_public_key
PAYDUNYA_TOKEN=test_token
PAYDUNYA_MODE=test

# Microservice IA (Python / FastAPI)
AI_SERVICE_URL=http://localhost:8000
INTERNAL_AI_SECRET=cezat_internal_ai_token_2026
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
GEMINI_MODEL=gemini-1.5-flash
SIMILARITY_THRESHOLD=0.72
